#root {
  height: 100%;
}

html, body {
  height: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  height: 130px;
  padding-bottom: 20px;
}

.form-group {
  padding: 0 10px 0 10px;
}

.fields {
  padding-bottom: 10px;
}

.alert {
  padding: 10px !important;
  margin: 5px;
}